.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #f4c430;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
  transform: scale(1.1);
}
