<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

=======
>>>>>>> b11a389f0f93ed6a429ab55a1aa17cb5c50a049b
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD


=======
>>>>>>> b11a389f0f93ed6a429ab55a1aa17cb5c50a049b
